extends layout

block content
	.contact-page
		form.contact-form(method='post' action='contact' onsubmit='return submitEnquiry(this);' autocomplete='on')
			input.action(type='hidden', name='action', value='contact')
			.field
				label(for='name') #{locale.contact.form.name}
				input#name(type='text', name='name')
			.field.email
				label(for='email') #{locale.contact.form.email}
				input#email(type='email', name='email')
			.field
				label(for='subject') #{locale.contact.form.subject}
				input#subject(type='text', name='subject')
			.field
				label(for='message') #{locale.contact.form.message}
				textarea#message(name='message')
			button(type='submit')
				span.button-text #{locale.contact.form.send}
				span.loader
			.result-box
				if responses.success
					p.result-message.success #{locale.contact.form.responses.success}
				if responses.invalidEmail
					p.result-message.error #{locale.contact.form.responses.invalidEmail}
				if responses.missingFields
					p.result-message.error #{locale.contact.form.responses.missingFields}
				if responses.invalidCharacters
					p.result-message.error #{locale.contact.form.responses.invalidCharacters}
				if responses.failure
					p.result-message.failure #{locale.contact.form.responses.failure}