extends layout
include ./mixins/head.pug

append content
	main.home-page
		.landing-description !{website.Texte_Accueil}
		if website.Image_Accueil.url
			a(href=locale.route + locale.projects.route)
				img.lazy(data-src=config.mediashostName+website.Image_Accueil.url alt=website.Description_Img_Accueil title=website.Titre_Img_Accueil)