extends layout

block content
	.projects-page
		each project in projects
			a.project(href=locale.route + locale.projects.route + "/" + project.Slug)
				article
					h2= project.Titre
					span.category= project.categorie.Nom
					if project.Image
						img.projectThumbnail.lazy(data-src=config.hostName+project.Image.url alt=project.Description_Img title=project.Titre_Img)
	.project-overlay